* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.preview {
  height: 100vh;
  background-image: url("../img/Layer\ 21\ 1.png");
  background-position: center top;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.preview-content {
  padding-top: 528px;
}

.logo {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
}

.description {
  margin-bottom: 22px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.slogan {
  position: absolute;
  width: 833px;
  height: 131px;
  padding: 38px 31px;
  background: url("../img/Header slogan fon 1.png");
  display: inline;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: #ffffff;
}

/* .slogan-message {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
} */
.slogan-yellow {
  /* margin-right: 46px; */
  color: #f48e0b;
}

/* .slogan-message.first {
    margin-right: 46px;
    color: #F48E0B;
}

.slogan-message.second {
    color: #FFFFFF;
} */
.header-section {
  margin-top: 100px;
  margin-bottom: 32px;
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 28px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333333;
}
.section-description {
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #4d4943;
}
.header-image {
  margin-top: 108px;
}
.header-nav {
  height: 53px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #f1b128;
}
.header-logo {
  min-width: 150px;
}
.header-menu {
  flex-grow: 1;
  max-width: 740px;
  display: flex;
  justify-content: space-between;
}
.header-menu-link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
}
.header-menu-link:hover {
  color: #f1b128;
}
.about {
  margin-top: 126px;
}
.about-container {
  margin-top: 108px;
  margin-bottom: 124px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about-images {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 22px;
}

.about-image {
  position: relative;
}
.about-image::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 42px;
  background-color: #333;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.consulting-image::after {
  content: "Consulting";
}
.photography-image::after {
  content: "Photography";
}

.design-image::after {
  content: "Web Design";
}
.advertizing-image::after {
  content: "Advertising";
}

.about-info {
  max-width: 600px;
}
.about-info-title {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
}
.about-yellow {
  color: #f1ad1d;
}
.about-info-text {
  margin-bottom: 37px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
}
.about-info-button {
  padding: 19px 27px;
  font-family: "Lato";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #f1ad1d;
}
.speedometer {
  background-image: url("../img/layer_slogan.png");
  height: 380px;
  background-position: center top;
  background-size: cover;
}
.speedometer-slogan {
  display: flex;
  justify-content: center;
  padding-top: 136px;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 137px auto;
}
.speedometer-slogan-yellow {
  color: #f1ad1d;
}
.slogan-underline {
  text-decoration: underline;
  text-underline-offset: 60px;
}
.team {
  margin-top: 110px;
}
.team-info {
  /* text-align: center; */
}

.team-members {
  margin-top: 52px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2px;
}
.team-member {
  position: relative;
}
.team-member::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  left: 12px;
  bottom: 14px;
  background: linear-gradient(0deg, #333333, #333333), #111111;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFF;
}

.member-one::after {
  content: "Diana Cline";
}
.member-two::after {
  content: "Gladys Shirley";
}
.member-three::after {
  content: "Kenneth Coley";
}
.member-four::after {
  content: "Craig Macaulay";
}
.member-five::after {
  content: "Robert Guido";
}
.member-six::after {
  content: "Catherin Pilcher";
}
.member-seven::after {
  content: "Porter Yee";
}
.member-eight::after {
  content: "Dennis Riddle";
}
.member-nine::after {
  content: "Mark Fisher";
}
.member-ten::after {
  content: "Thomas Fike";
}
.member-eleven::after {
  content: "Joshua Ross";
}
.member-twelve::after {
  content: "Angel Williams";
}